.messageContainer-incoming{
    display: flex;
    justify-content: start;
    padding: 0px;
    margin: 5px;

  
}
.messageContainer-outgoing{
    display: flex;
    justify-content: flex-end;
margin: 5px;

   
  
}
.time{
    font-size: 11px;
 
}
.text{
    word-wrap: break-word;
    /* white-space: initial; */
    height: 100%;
    white-space:pre;
    
    
}



.incoming{
    border-radius:10px 10px 10px 0px;
    background-color:rgb(235, 219, 251);
    /* background-color: black; */
    color: black;
    /* border-radius: 2px; */
    padding: 7px 13px 7px 13px;
    align-items: center;
}

.outgoing{
    border-radius: 10px 10px 0px 10px;
    background-color: rgb(55, 9, 101);
    color: white;
    /* border-radius: 2px; */
    padding: 7px 13px 7px 13px;   
    align-items: center;
}


